body{
    padding-top: 60px;
    background-color: rgb(124, 203, 255);
    color: rgb(255, 0, 0); 
}

img{
    object-fit: fill;
}

.grid{
    max-height: 225px;
    max-width: 300px;
}

.menu{
    height: 25px;
    width: 25px;
}

#botonSearch{
    color: white; 
    background-color: rgb(61, 175, 12);
}

.card{
    width: 18rem;
}