body{
    display: flex;
    flex-flow: column wrap;
    background-color: lightblue;
    margin-left:0;
}

#logo{
    align-self: center;
    margin-top:27px;
    /*margin-left: 500px;*/
}

.margen{
    display: flex;
    justify-content: center;
    /*margin-left: 500px;*/
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(0, 174, 255);
}

nav li {
    display: flex;
    align-content: flex-start;
    justify-content: left;
    float: left;
}

nav li a {
    display: block;
    padding: 8px;
}

nav li a:hover {
    background-color: #2a9fff;
}

/*
.active {
    background-color: #04AA6D;
}
*/

article ul{
    list-style-type:circle;
}

main{
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

main section{
    margin-top: 35px;
} 

footer{
    margin-left: 80px;
    margin-right: 150px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightskyblue;
    padding-left: 5px;
    padding-bottom: 5px;
}



.fila{
    display: flex;
    flex-wrap: wrap;
    
}

.columna{
    flex:30%;
    margin-right: 2px;
    margin-left: 2px;
    align-content: center;
    align-items: stretch;
}

.fila img{
    width: 100%;
}

@media (max-width:550px) , (max-height:600px) {
    nav li{
        font-size: 25px;
        
    }
    nav ul{
        height: 50px;
    }
    main {
        margin-left: 0px;
        text-size-adjust: 41;
    }
    .margen{
        margin-left: 20px;
    }
    #logo{
        margin-left: 20px;
    }
}

@media (max-width:800px) and (max-height:950px) {
    .columna{
        flex:40%;
    }
    .fila img{
        max-width: 396px;
        max-height: 222.75px;
    }
}

@media (max-width:400px) and (max-height:700px) {
    .columna{
        flex:100%;
    }
    img{
        max-width: 500px;
        max-height: 300px;
    }
}