body{
    background-color: lightblue;
    margin-left:0;
}

.margen{
    margin-left: 500px;
}

#logo{
    margin-top:27px;
    margin-left: 500px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(0, 174, 255);
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

li a:hover {
    background-color: #2a9fff;
}

.active {
    background-color: #04AA6D;
}

main{
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

footer{
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightskyblue;
    padding-left: 5px;
    padding-bottom: 5px;
}

@media screen and ((max-width: 680px)) {
    li{
        height: 50px;
        font-size: 20px;
    }
    main {
        margin-left: 0px;
        text-size-adjust: 41;
    }
    .margen{
        margin-left: 20px;
    }
    #logo{
        margin-left: 20px;
    }
    
}